/* Site Stylesheet
  1. Global Styles
  2. Typography Styles
  3. Header Styles
======================================== */

/* 1. Global Styles
======================================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  height: 100vh;
  overflow-x: hidden;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: #F0EDEB;
}


/* 2. Typography Styles
======================================== */



li {
  list-style: none;
}

img {
  width: 100%;
}



/* 1. Header Styles
======================================== */

header {
  width: 100%;
  height: 56px;
  border-bottom: 1px solid #cac7c4;  
  text-transform: uppercase;
}

.logo {
  font-size: .7em;
  font-weight: bold;
  letter-spacing: .5em;
  color: black;
}

.content,
.desktop-ui,
.desktop-ui nav,
.ul-wrapper {
  height: 100%;
}


.nav-menu,
nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}


.menu-btn-wrapper,
.ul-wrapper, 
.wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;
}

/* .menu-btn-wrapper, */
.ul-wrapper img,
.wrapper img {
  width: 100%;
}

/* Nav/Nav-items Styles */

/* Nav-items list Styles */

.nav-item{
  border-right: 1px solid #89BAD2;
  padding:0 1.2rem 0 1.2rem;
  letter-spacing: 2px;
  font-size: .8em;
}

.ul-wrapper li:last-child{
  padding:0 .725rem 0 .725rem;
  letter-spacing: 2px;
  font-size: .8em;
}

.logo-wrapper {
  border-right: 1px solid #cac7c4;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px 0 0 ;
}

.menu-btn-wrapper {
  border-left: 1px solid #cac7c4; 
}





/* Nav-items Anchor Styles */
.ul-wrapper a {
  text-decoration: none;
  font-family: "Raleway", Helvetica, sans-serif;
  color: #777674 ;
}

.ul-wrapper a:hover {
  color: #42A5F5;
}

.logo-wrapper a {
  color: black;
}



/* Mobile UI */

.mobile-ui {
  display: none;
}




/* 1. Header Styles
======================================== */